/**
 * @Author: Your name
 * @Date:   2023-10-03 19:36:23
 * @Last Modified by:   Your name
 * @Last Modified time: 2023-10-03 22:24:06
 */
.cart-big{
    width: 50px;
    height: 50px;
    background-color: aliceblue;
  /*   background-color: rgb(25, 24, 24);
    padding: 10px;
    margin: 5px;
    color:white;
    font-size:20px;
    width: 25%;   */
    
}